[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
httpx = "*"
websockets = "*"
grequests = "*"
pandas = "*"
bs4 = "*"

[dev-packages]
autopep8 = "*"
pycodestyle = "*"

[requires]
python_version = "3.10"
